aws_access_key = ""

aws_region = "us-east-2"

aws_secret_key = ""

ec2_keypair = "dann2993_2019_01_10"

ecs_cluster_name = "ECS_EC2_Cluster_Example"

ecs_service_desired_count = "1"

environment = "Test"

service_name = "ecs_ec2_test_service"

task_name = "ecs_ec2_test_task"
